
/*div.navbar.navbar-default.navbar-fixed-top {*/
  /*background-color: #f8e5be;*/
/*}*/

.navbar {
  background-image: linear-gradient(#6ebfd4, #6ebfd4 70%, #00BDD3);
  border-bottom: 1px solid #6ebfd4;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: steelblue;
}

a {
  color: steelblue;
}

section {
  margin-top: 50px;
  text-align: center;
}

.btn-primary {
  color: #ffffff;
  background-image: linear-gradient(#6ebfd4, #6ebfd4 70%, #00BDD3);
  background-color: #6ebfd4;
  border-color: #6ebfd4;
}

.footer-background {
  background-image: linear-gradient(#6ebfd4, #6ebfd4 70%, #00BDD3);
  border-bottom: 1px solid #6ebfd4;
}