/*
    This file has been worked on by Mai Abe and Jun Okabe
 */

/*All Pages*/
.navbar {
    background-image: linear-gradient(#6ebfd4, #6ebfd4 70%, #00BDD3);
    border-bottom: 1px solid #6ebfd4;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: steelblue;
}

a {
    color: steelblue;
}

.btn-primary {
  color: #ffffff;
  background-image: linear-gradient(#6ebfd4, #6ebfd4 70%, #00BDD3);
  background-color: #6ebfd4;
  border-color: #6ebfd4;
}

.footer-background {
  background-image: linear-gradient(#6ebfd4, #6ebfd4 70%, #00BDD3);
  border-bottom: 1px solid #6ebfd4;
}


/*Review Sites Styling*/
.breadcrumb>.active {
  color: #555555;
}

section {
    margin-top: 50px;
    text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 300px;
  min-height: 300px;
  overflow: auto;
}

.thumbnail > .description {
  max-height: 150px;
  overflow: auto;
}

p.prereq {
  font-weight: bold;
  color: darkgreen;
}

/*Review Sites Modules Styling*/
.thumbnail.modules {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 150px;
  min-height: 150px;
  overflow: auto;
}

/*
    Different Green Button from Bootstrap (in index.html page)
    - Added by Jun Okabe
 */
.btn-green {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    !important;
}

/*
    Add Padding at the top of the body in index.html page (prevent overlap)
    - Added by Jun Okabe
 */
.custom-pad {
  padding-top: 51px;
}

/*
  Jumbotron image in index.html page
  - Added by Jun Okabe
*/
.jumbotron {
  background-image: url("../img/jumbotron-image.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*
  Force same height panels located in the index.html page
  - Added by Jun Okabe
*/
@media (min-width: 500px) {
  .col-md-4 > .panel > .panel-body {
    min-height: 100px;
  }
}

/*
  Force the panel in index.html to be full width at minimal window size
  - Added by Jun Okabe
*/
.row-no-flex {
  display: inline;
  !important
}

/*
  For the green panel header color in the index.html page
  - Added by Jun Okabe
*/
.success-header {
  color: #28a745;
  !important
}

/*
  For the orange panel header color in the index.html page
  - Added by Jun Okabe
*/
.warning-header {
  color: #ff6707;
  !important
}

.video {
  width: 1100px;
  height: 700px;
}

.section-background-1 {
  background-color: #bce8f1;
}

/*
  Graph Network for the Course Relation Page
  - Added by Jun Okabe
*/
#coursenetwork {
    width: 100%;
    height: 800px;
    border: 1px solid #444444;
    background-color: #222222;
    margin-bottom: 1%;
}

/*
  Graph Network for the BS degree in the ICS Curriculum Page
  - Added by Jun Okabe
*/
#bachelor-science-network {
    width: 100%;
    height: 500px;
    border: 0px solid lightgray;
    background-color: #222222;

}

/*
  Graph Network for the BS degree in the ICS Curriculum Page
  - Added by Jun Okabe
*/
#bachelor-arts-network {
    width: 100%;
    height: 500px;
    border: 0px solid lightgray;
    background-color: #222222;
}
